@import "../variables/color.scss";

.t {
  &-center {
    text-align: center;
  }
  &-left {
    text-align: left;
  }
  &-right {
    text-align: right;
  }
  &-end {
    text-align: end;
  }
  &-justify {
    text-align: justify;
  }
  &-link {
    color: #20bcfa;
    &:hover,
    &:active {
      text-decoration: underline;
    }
  }
  &-color {
    &-primary {
      color: $text-color-primary;
    }
    &-gray {
      color: #888;
    }
  }
}

//font-size 10-100px (0.5->5rem)
@for $i from 10 to 100 {
  .font-size {
    &-#{$i}px {
      font-size: #{$i}px !important;
    }
    $value: $i * 0.05;
    $whole: floor($value);
    $fraction: round(($value - $whole) * 100);

    // Tạo class. Ví dụ: p0-5rem, p1rem, p1-05rem
    &-p#{$whole}#{if($fraction > 0, "-#{$fraction}", "")}rem {
      font-size: #{$value}rem !important;
    }
    &-p#{$whole}#{if($fraction > 0, "-#{$fraction}", "")}em {
      font-size: #{$value}em !important;
    }
  }
}

// .font-weight 100-900
@for $i from 1 to 10 {
  .font-weight {
    &-#{$i * 100} {
      font-weight: #{$i * 100} !important;
    }
  }
}

.font-weight {
  &-b {
    font-weight: bold;
  }
}
